@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

::-webkit-scrollbar {
  background: #f9fafb;

  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #fe595e;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
